body{
    background-color: bisque;
}
.total-tracker{
    padding: 20px 0px;
    text-align: center;
}
.link{
    text-align: center;
    font-size: 30px;
}
.heading{
    text-align: center;
}
.description{
    text-align: center;
}
.input{
    text-align: center;
}